<div class= "container m-3">
  <div class= "row-12">
<h2>会員登録</h2>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="field row-10　pt-5">
    <span class="col-5"><%= f.label :姓 %></span><span class="col-5"><%= f.label :名 %><br /></span>
    <span class="col-5"><%= f.text_field :last_name, autofocus: true %></span><span class="col-5"><%= f.text_field :first_name, autofocus: true %></span>
  </div>

  <div class="field row-10 pt-3">
    <span class="col-5"><%= f.label :セイ %></span><span  class="col-5"><%= f.label :メイ %><br /></span>
    <span class="col-5"><%= f.text_field :last_name_kana, autofocus: true %></span><span class="col-5"><%= f.text_field :first_name_kana, autofocus: true %></span>
  </div>

  <div class="field col-10 pt-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field col-10 pt-3">
    <%= f.label :postcode, '郵便番号' %>
    <%= f.text_field :postcode, autocomplete: 'postcode', class: 'form-control' %>
  </div>

  <div class="field col-10 pt-3">
    <%= f.label :prefecture_name, '都道府県' %>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-control' %>
  </div>

  <div class="field col-10 pt-3">
    <%= f.label :address_city, '市区町村'%>
    <%= f.text_field :address_city, autocomplete: 'address_city', class: 'form-control'%>
  </div>

  <div class="field col-10 pt-3">
    <%= f.label :address_street, '番地'%>
    <%= f.text_field :address_stree, autocomplete: 'address_street', class: 'form-control'%>
  </div>

  <div class="field col-10 pt-3">
    <%= f.label :address_building, '建物'%>
    <%= f.text_field :address_building, autocomplete: 'address_building', class: 'form-control'%>
  </div>


  <div class="field col-10 pt-3">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field col-10 pt-3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions col-10 mt-3 pt-3">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


  </div>
</div>