<% @shops.each do |shop| %>
  <div>
    <p>photo</p>
    <%= attachment_image_tag shop, :image %>
    <p>item <%= shop.item %></p>
    <p>caption <%= shop.body %></p>
    <p>genre <%= shop.genre %></p>
    <p>price <%= shop.price %></p>
    <p>status <%= shop.status %></p>
    <% if current_user.admin? %>
    <%= link_to "削除", shop_path(shop), method: :delete %>
  <% end %>
  </div>
<% end %>