
    <h4>商品詳細</h4>
  </div>

  <div class="row">
    <div class="col-5">
      <%= attachment_image_tag @shop, :image, :fill, 300, 300, format: 'jpeg' %>
    </div>
    <div class="col-7">
      <h4 class="mb-2"><%= @shop.item %></h4>
      <p class="my-4"><%= @shop.body %></p>

      <% if user_signed_in? %>
       <%= form_with(model: @cart_item, local: true, method: :post, url: cart_items_path ) do |f| %>
         <%= f.select :amount, {'1': 1, '2': 2, '3': 3}, { include_blank: '選択してください'}, { class: 'form-control mb-2 w-50' , required: true }%>
         <%= f.hidden_field :shop_id, value: @shop.id %>
         <%= f.submit "カートに入れる",class:"btn btn-success"%>
       <% end %>
      <% end %>
     </div>
